.charts{
    padding: 20px;
    margin: 20px;
    box-shadow: 3px 0px 26px 1px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 3px 0px 26px 1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 3px 0px 26px 1px rgba(0, 0, 0, 0.09);
}
.charts-title{
    margin-bottom: 20px;
}