.charts{
    padding: 20px;
    margin: 20px;
    box-shadow: 10px 7px 23px -5px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 10px 7px 23px -5px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 10px 7px 23px -5px rgba(0, 0, 0, 0.17);
}
.charts-title{
    margin-bottom: 20px;
}