.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: #F7F7F7;
    position: sticky;
    top: 50px;
}
.sidebar-wrap{
    padding: 20px;
    color: black;
}
.sidebar-dash{
    margin-bottom: 10px;
}
.sidebar-title{
    font-size: 15px;
    color: #73777B;
}
.sidebar-list{
    list-style: none;
    padding: 5px;
}
.sidebar-list-item{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.sidebar-list-item-active, .sidebar-list-item:hover{
    background-color: #000;
    color: #fff;
}
.sidebar-icon{
    margin-right: 5px;
    font-size: 20px !important;
}