.widget-lg{
    flex: 2;
   box-shadow: 3px 0px 26px 1px rgba(0, 0, 0, 0.09);
   -webkit-box-shadow: 3px 0px 26px 1px rgba(0, 0, 0, 0.09);
   -moz-box-shadow: 3px 0px 26px 1px rgba(0, 0, 0, 0.09);
    padding: 20px;
}
.widget-lg-title{
    font-size: 20px;
    font-weight: bold;
}
.widget-td-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.widget-lg-btn{
    padding: 5px 7px;
    border: none;
    border-radius: 2px;
}
.widget-lg-btn.Approved{
    background-color: #C1F8CF;
    color: #519259;
}
.widget-lg-btn.Declined{
    background-color: #FFBED8;
    color: #FF5D5D;
}
.widget-lg-btn.Pending{
    background-color: #FFE6AB;
    color: #EC9B3B;
}
.widget-lg-table{
    width: 100%;
    border-spacing: 20px;
}
.widget-lg-th{
    text-align: left;
}
.widget-lg-td{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.widget-lg-date, .widget-lg-amount{
    font-weight: 300;
}